.navbar {
  background-color: #170E00;
	height: 100px;
	width: auto;
	display: grid;
	grid-template-columns: 10% 1fr;
	align-items: center;
	padding: 10px 0px 40px 0px;
	position:relative;
	z-index: 5;
}

.navtabs {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 20px;
	color: #FFBF49;
	border-radius: 5px;
}

.navbar a {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: inherit;
    border: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: utopia-std-display, serif;
	font-weight: 400;
	font-style: normal;
}

.navtabs a:hover, .dropdown:hover .dropbtn {
    background-color: #FFBF49;
	color: #170E00;
	font-family: utopia-std-display, serif;
	font-weight: 400;
	font-style: normal;
	transition: linear 0.25s;
	border-radius: 5px;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    background-color: #170E00;
	border-radius: 5px;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
	visibility: visible;
}

.logo {
	padding-left: 10px;
}

a {
	font-family: utopia-std-display, serif;
	font-weight: 400;
	font-style: normal;
}
