#container {
    width: 20%;
    margin: auto;
  }
  
  form {
    margin: auto;
    width: 90%;
    border: 3px solid #f1f1f1;
    padding: 10px;
    position: relative;
    text-align: center;
  }
  
  
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  input[type=button] {
    background-color: #4CAF50; /* tentative color */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
  }

  #signup {
    background-color: #4c6aaf;  /* tentative color */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    height: 15%;
  }
  
  input[type=button]:hover {
    opacity: 0.8;
  }
  
  h1 {
    text-align: center;
    margin-top: 0;
  }
  
  @media only screen and (max-width: 600px) {
    .container {
      text-align: center;
    }
  
    h1 {
      margin-bottom: 0;
    }
  }