html, body {
	background-color: #FFFFD7;
	margin: 0px;
	scroll-behavior: smooth;
}

/* 
 
--> LANDING PAGE <--

*/

#wrapper {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

#home-banner {
	height: 500px;
	width: auto;
	position: relative;
  	text-align: center;
}

.welcomeMessage {
	text-align: center;
	padding: 30px 0px 20px;
	font-family: freightneocnd-pro, sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 30px;
}

#home-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
	justify-content: center;
  	align-content: center;
  	gap: 4px;
  	grid-auto-flow: column;
}

#formMessage {
	text-decoration: underline;
}

#reservation-header {
	padding: 30px 0px 20px;
	font-family: mantinia, serif;
	font-size: 50px;
    font-weight: 400;
}

h2 {
	font-family: freightneocnd-pro, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 30px;
}

h3 {
	font-family: freight-neo-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
}

h4 {
	font-family: freight-neo-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
}

p, li {
	font-family: freightneocnd-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 17px;
}

.homeGalleryCaption {
	font-family: mantinia, serif;
	font-size: 40px;
	color: #170E00;
	text-align: center;
}

.banner {
	width: 100%;
	height: 500px;
	object-fit: cover;
}

.banner-text {
	font-family: mantinia, serif;
	font-size: 70px;
	color: white;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#footer > * {
	text-align: right;
	float: right;
	margin-left: 90%;
	font-size: 20px;
	padding: 0px 50px 50px 0px;
	color: #403227;
	font-family: freight-neo-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
}

#footer:hover > * {
	text-decoration: underline;
}

.ridge {
	border: ridge 8px #F0CA97;
	height: 350px;
}

.solidBorder {
	border: 2px solid #170E00;
	height: 350px;
}

.flexContainer {
	display: flex;
	flex-wrap: nowrap;
}

/* below was formerly login.css */

.container {
    width: fit-content;
    margin: auto;
	text-align: center;
}
  
.decoratedForm {
    margin: auto;
    width: 90%;
    border: 3px solid #f1f1f1;
    padding: 10px;
    position: relative;
    text-align: center;
	font-family: utopia-std-display, serif;
	font-weight: 400;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #170E00;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
}

.secondaryButton {
    background-color:  #403227;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    height: 15%;
}

input[type=button]:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 600px) {
    #container {
        text-align: center;
    }

    h1 {
        margin-bottom: 0;
    }
}

/* 

 --> NAV BAR / HEADER <-- 

*/

.navbar {
	background-color: #170E00;
	  height: 100px;
	  width: auto;
	  display: grid;
	  grid-template-columns: 10% 1fr;
	  align-items: center;
	  padding: 10px 0px 40px 0px;
	  position:relative;
	  z-index: 5;
}

.navtabs {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 20px;
	color: #FFBF49;
	border-radius: 5px;
}

.navbar a {
	float: left;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: inherit;
	border: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: utopia-std-display, serif;
	font-weight: 400;
	font-style: normal;
}

.navtabs a:hover, .dropdown:hover .dropbtn {
	background-color: #FFBF49;
	color: #170E00;
	font-family: utopia-std-display, serif;
	font-weight: 400;
	font-style: normal;
	transition: linear 0.25s;
	border-radius: 5px;
}

.dropdown-content {
	visibility: hidden;
	position: absolute;
	background-color: #170E00;
	border-radius: 5px;
}

.dropdown-content a {
	float: none;
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
.dropdown:hover .dropdown-content {
	display: block;
	visibility: visible;
}
  
.logo {
	padding-left: 10px;
}
  
a {
	font-family: utopia-std-display, serif;
	font-weight: 400;
	font-style: normal;
}

.summary {
	box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
	margin: auto;
	background: #FFF;
	border-radius: 20px;
	text-align: center;
	padding-bottom: 1rem;
}

.tablecon{
	border-bottom: 1px solid #EEE;
}

/* 
 
--> RESERVATIONS PAGE <--

*/

.hotel-name, .bed-type {
	font-family: freightneocnd-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 25px;
	padding: 10px 0px;
}

.hotelImg, .roomSizeImg {
	filter: brightness(100%);
	-webkit-filter: brightness(100%);
}

.hotelImg:hover img, .roomSizeImg:hover img {
	-webkit-filter: brightness(50%);
	filter: brightness(50%);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	cursor: pointer;
}

.hotelImg div, .roomSizeImg div{
	font-family: utopia-std-display, serif;
	font-weight: 400;
	font-style: italic;
	font-size: 30px;
	color: white;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
	-webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

.hotelImg:hover div, .roomSizeImg:hover div{
	visibility: visible;
    opacity: 1;
}

.datePicker {
	display: inline-block;
	align-content: center;
}

.arrival {  
	display: block;
    float: left;
	width: 50%;
	margin-bottom: 100px;
}

.departure { 
	display: block;
    float: right;
	width: 50%;
	margin-bottom: 100px;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
	width: 59%;
  	margin-left: auto;
  	margin-right: auto;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.rightAlign {
	text-align: right;
}

.leftAlign {
	text-align: left;
}

/* 
 
--> RESERVATION LOOK-UP PAGE <--

*/

#summary {
	padding-bottom: 25px;
}

.submitButton {
	background-color: #170E00;
	height: 35px;
	color: #FFBF49;
	border-radius: 5px;
	font-family: freightneocnd-pro, sans-serif;
	font-size: 15px;
	text-align: center;
	display: block;
	margin: auto auto;
}

.submitButton a:hover, .submitButton:hover {
	background-color: #FFBF49;
	color: #170E00;
	font-family: freightneocnd-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	transition: linear 0.25s;
	border-radius: 5px;
}

/* 
 
--> LOCATIONS PAGE <--

*/

#locationTable {
	width: 100%;
	border-collapse: separate;
	border-spacing: 100px 0;
}

tr.spaceUnder>td {
  padding-bottom: 10em;
}

#resize {
	width: 525px;
	object-fit: cover;
}

.bookHere {
	background-color: #170E00;
	height: 40px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFBF49;
	border-radius: 5px;
	font-family: utopia-std-display, serif;
	font-size: 15px;
}

.bookHere a:hover, .bookHere:hover {
	background-color: #FFBF49;
	color: #170E00;
	font-family: utopia-std-display, serif;
	font-weight: 400;
	font-style: normal;
	transition: linear 0.25s;
	border-radius: 5px;
}
